server:
  port: 8081
#for mysql or PostgreSQL
spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./blog.db
    #driver-class-name: com.mysql.cj.jdbc.Driver
    #username: root
    #password: Richa12345
    #url: jdbc:mysql://localhost:3306/bms
  jpa:
    generate-ddl: on
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG